<?xml version="1.0" ?>
<!--
  ~ @author MageRocket
  ~ @copyright Copyright (c) 2024 MageRocket (https://magerocket.com/)
  ~ @link https://magerocket.com/
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Config\Model\Config\Structure\Data">
        <plugin name="magerocket_module_info" type="MageRocket\Core\Model\Config\Structure\Data"/>
    </type>
</config>
