<?xml version="1.0"?>
<!--
  ~ @author MageRocket
  ~ @copyright Copyright (c) 2024 MageRocket (https://magerocket.com/)
  ~ @link https://magerocket.com/
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="magerocket_core_information">
        <observer name="magerocket_core_information" instance="MageRocket\Core\Observer\InformationTab"/>
    </event>
</config>
